<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="quotebook.theoneandonly.com.soberup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".badges">
        </activity>
        <activity android:name=".badgesday1">
        </activity>
        <activity android:name=".badgesday7">
        </activity>
        <activity android:name=".badgesday14">
        </activity>
        <activity android:name=".badgesday30">
        </activity>
        <activity android:name=".day60badge">
        </activity>
        <activity android:name=".day90badge">
        </activity>
        <activity android:name=".badgesday180">
        </activity>
        <activity android:name=".day365badge">
        </activity>
        <activity android:name=".urgepics">
        </activity>
        android:largeHeap="true"
        <activity
            android:name=".relapsepop"
            theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:theme="@style/AppTheme.CustomTheme">
            >
        </activity>
        <activity android:name=".records">
        </activity>
        <activity android:name=".badge_progress">
        </activity>
    </application>

</manifest>